RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^post$ controllers/posts.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^post$ controllers/posts.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^post/([0-9]+)$ controllers/posts.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^post/([0-9]+)$ controllers/posts.php?action=delete&id=$1

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^post/upvote/([0-9]+)$ controllers/posts.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^post/downvote/([0-9]+)$ controllers/posts.php?action=update&id=$1